# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Data files
data/raw/
data/processed/
*.sqlite3
*.db
*.log

# Logs
logs/*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
.env
